{% load mjml %}
{% load static %}
{% mjml %}
<mjml lang="ru">
  <mj-head>
<mj-title>{% block title %}zzr.ru{% endblock title%}</mj-title>
    {% include 'partials/common/head.html' %}
  </mj-head>
  <mj-body background-color="#eee">
    {% include 'partials/common/spacer.html' %}

    {% block header %}
    {% include 'partials/common/header.html' %}
    {% endblock header %}

    {% include 'partials/common/spacer.html' %}

    {% block body %}
    {% endblock body %}

    {% include 'partials/common/spacer.html' %}

    {% block footer %}
    {% include 'partials/common/footer.html' %}
    {% endblock footer %}

    {% include 'partials/common/spacer.html' %}

    {% block legal_notice %}
    {% include 'partials/common/legal-notice.html' %}
    {% endblock legal_notice %}

  </mj-body>
</mjml>
{% endmjml %}
