{% load static %}
<!-- Footer -->
<mj-wrapper background-color="#aaa">

  <mj-section>
    <mj-column>
      <mj-text align="center" padding-bottom="10px" font-size="18px" font-weight="bold" color="#fff">Издательский дом «Животноводство»
      </mj-text>
      <mj-text align="center" padding-bottom="3px" color="#eee" padding-bottom="0">Москва, Хорошевское шоссе, 32 А, оф. 11</mj-text>
      <mj-text align="center" padding-bottom="3px" color="#eee" padding-bottom="0">Тел.: 8 (499) 701-99-91</mj-text>
      <mj-text align="center" color="#eee">E-mail: animal@zzr.ru</mj-text>
    </mj-column>
  </mj-section>

  <mj-section padding="0 0 15px 0">
    <mj-group css-class="fixed-width" vertical-align="middle">
      {% include 'partials/common/social.html'%}
    </mj-group>
  </mj-section>

  <mj-section padding="0 0 0 0">
    <mj-column>
      <mj-button background-color="#cc9191" color="white" inner-padding="2px 5px" href="https://zzr.ru/partnership/mailout">Реклама в рассылке</mj-button>
    </mj-column>
  </mj-section>

</mj-wrapper>
<!-- End Footer -->
