{% load static %}
<!-- Footer -->
<mj-wrapper background-color="#aaa">
  <mj-section>
    <mj-column>
      <mj-text align="center" padding-bottom="10px" font-size="14px" font-weight="bold" color="#fff">Издательский дом «Животноводство»
      </mj-text>
      <mj-text align="center" padding-bottom="3px" color="#eee" padding-bottom="0">Москва, Хорошевское шоссе, 32 А, оф. 8</mj-text>
      <mj-text align="center" padding-bottom="3px" color="#eee" padding-bottom="0">Тел.: 8 (800) 551-73-54</mj-text>
      <mj-text align="center" color="#eee">E-mail: animal@zzr.ru</mj-text>
    </mj-column>
  </mj-section>
  <mj-section padding="0 0 0 0">
    <mj-group css-class="fixed-width" vertical-align="middle">
      {% include 'partials/common/social.html'%}
    </mj-group>
</mj-wrapper>
</mj-section>
<!-- End Footer -->
