{% load static %}
<mj-column padding="0 4px 0 0">
	<mj-image href="https://www.facebook.com/zhivotnovodstvo"
	src="{% static 'images/social_icons/facebook-rounded-white.png' %}" />
</mj-column>
<mj-column padding="0 4px 0 0">
	<mj-image href="https://www.instagram.com/zhivotnovodstvo_rossii/"
	src="{% static 'images/social_icons/instagram-rounded-white.png' %}" />
</mj-column>
<mj-column padding="0 4px 0 0">
	<mj-image href="https://t.me/tgzzr" src="{% static 'images/social_icons/telegram-rounded-white.png' %}" />
</mj-column>
<mj-column padding="0 4px 0 0">
	<mj-image href="https://vk.com/zzr_ru" src="{% static 'images/social_icons/vk-rounded-white.png' %}" />
</mj-column>
