<mj-wrapper background-color="#fff">
<mj-section>
<mj-column>
  <mj-text padding-bottom="20px" align="center" font-weight="bold" font-size="24px" color="#444">Рады видеть Вас в ряду наших подписчиков!</mj-text>
  <mj-text padding-bottom="25px" align="center" font-size="16px">Скачайте выпуск журнала "Животноводство России - {{ issuedownloadletter.journal.issue }} {{ issuedownloadletter.journal.year }}" по ссылке ниже:</mj-text>
  <mj-button background-color="green" font-size="20px" href="{{ issuedownloadletter.journal.pdf.url }}">Скачать ПДФ</mj-button>
</mj-section>
</mj-wrapper>
