{% extends 'base.html' %}
{% load mjml %}
{% load static %}
{% block title %}{{ issueannouncementletter.title }}{% endblock title %}

{% block body %}

{% include 'partials/issueannouncement/greeting.html' %}
{% include 'partials/common/spacer.html' %}
{% include 'partials/issueannouncement/articleblock-detailed.html' %}
{% include 'partials/common/spacer.html' %}
{% include 'partials/issueannouncement/articleblock-short.html' %}
{% include 'partials/common/spacer.html' %}
{% include 'partials/issueannouncement/journal-info.html' %}

{% endblock body %}
